/* CONFIGURAÇÕES GERAIS DA PÁGINA */

/* O * (asterisco) seleciona TODOS os elementos da página */

* {
    
    box-sizing: border-box;
} 

body {
    /* Define a fonte utilizada */
    font-family: Arial, sans-serif;
    /* Remove a margem padrão do navegador */
    margin: 0;
    /* Mudando a cor de fundo */
    background-color: #f4f4f4;
    /* Definir a cor padrão dos textos */
    color: #333;
}

header {
    background-color: #222;
    color: white;
    /* Espaçamento interno. */
    padding: 30px;
    /* Centralizar o texto */
    text-align: center;
}

header h1 {
    /* Remover a margem superior */
    margin-top: 0;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    /*removi o sublinhado */
    text-decoration: none;
    /*espaçamento entre os links */
    margin: 0 15px;
}

nav a:hover{
    color: #00aaFF;
}

main{
    /*Define uma largura máxima do elemento */
    max-width: 1000px;
    /*Centraliza o conteudo*/
    margin: 30px auto;
    /* Espaçamento Lateral */
    padding: 0 20px;
}
section{
    background-color: rgb(187, 185, 185);
    /* espaçamento interno */
    padding: 30px;
    /*Arredonda os cantos*/
    border-radius: 10px;
    /*Espaço abaixo da seção */
    margin-bottom: 30px;
}

article{
    background-color: white;
    padding: 25px;
    /* espaçamento entre os article */
    margin-bottom: 20px;
    border-radius: 10px;
}
article h2{
    color: #0066cc
}
aside {
    background-color: #c8daec;
    padding: 20px;
    border-left: 5px solid #0066cc;
    /* Margem/espaço de cima */
    margin-top: 20px;
}