* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;

    /*Vou centralizar a minha calculadora */
    display: flex;
    justify-content: center;
    align-items: center;

    /*meu elemento tem PELO MENOS a altura total da tela*/
    min-height: 100vh;
}

/* Para chamar uma classe, coloque um ponto e o nome dela  */
.container {
    background-color: white;
    width: 350px;
    padding: 30px;

    border-radius: 10px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    display: block;
    padding: 5px;
    /*Fonte em negrito*/
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;  
    
    border: 1px solid #ccc;
    border-radius: 5px;

    font-size: 16px;
}

.botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

/*botões*/
button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: rgb(158, 173, 202);
    color: white;
    font-size: 16px;

    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

/* fazendo css pelo ID */
#resultado {
    margin-top: 25px;
    text-align: center;
    font-size: 20px;
}